*.DS_Store
*.zip
*.gz
*.pyc
*.pth
*.vscode
*.pt
data/*
HW4/annotations/
HW4/train2014/
HW6/annotations/
HW6/train2014/
cifar-10-batches-py
HW4/output_datasets/
HW6/output_datasets/
__pycache__
saved_model
HW7/val2014/
!output_datasets.zip
!datasets_for_DLStudio.tar.gz
# !data/Multi-instance_images_from_COCO(HW7).zip
# !data/Multi-instance_images_from_COCO(HW8).zip
# !data/annotations(HW8).zip
# !data/annotations(HW7).zip
# !data/annotations_trainval2014(Original).zip
HW8/saved_model_DICE
HW8/saved_model_DICE_COCO
HW8/saved_model_DICE_MSE_50
HW8/saved_model_DICE_MSE_150
HW8/saved_model_DICE_MSE_COCO
HW8/saved_model_MSE
HW8/saved_model_MSE_COCO
HW9/Supplementary
